//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-header {
	background-color: map_get($primary-colors, 'purple');
	border-bottom: 4px solid map_get($primary-colors, 'green');
	color: $color-light-yellow;
	text-align: center;

	.wrap {

		.site-branding {
			@include span-columns(12);
			@include media ($tablet-portrait) {
				@include span-columns(4);
				text-align: left;
			}

			.site-title {
				font-size: rem(26);
				font-family: $font-heading;
				@include margin (0 null 0 null);
				a {
					text-decoration: none
				};
			}

			.site-description {
				font-size: rem(16);
				margin: 0 0 rem(16) 0;
			}
		}
	}
}
