.entry-title {
  text-align: center;
  a {
    color: map_get($primary-colors, 'green');
  }
}
.secondary {
  margin-top: 30px;
}

.entry-meta {
  a {
    color: map_get($primary-colors, 'blue');
  }
}
