.gallery-piece {
  @include span-columns(12);
  margin-right: 0;
  display: inline-block;
	text-align: center;
	vertical-align: top;
  @include media($phone-landscape) {
    @include span-columns(6);
    margin-right: 0;
  }
  @include media($tablet-landscape) {
    @include span-columns(4);
      margin-right: 0;
  }
}

.gallery-photos {
  @include clearfix;
  @include span-columns(8);
  .photo-single {
    @include span-columns(4);
  }
}

.gallery-details {
  @include clearfix;
  @include span-columns(4);
}

.gallery-name {
  h1 {
    display: inline-block;
  }
  a {
    color: map_get($primary-colors, 'blue');
    background-color: $color-alto;
    padding: 5px;
  }
}
