.gallery-item {
  @include span-columns(4);
  padding: .5em;
  margin-right: 0;

  .gallery-img {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    .gallery-feature > img {
      position: relative;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);

    }
  }
}

.gallery-photos {
  @include clearfix;
  @include span-columns(8);
}

.gallery-details {
  @include clearfix;
  @include span-columns(4);
}

.gallery-name {
  h1 {
    display: inline-block;
  }
  a {
    color: map_get($primary-colors, 'blue');
    background-color: $color-alto;
    padding: 5px;
  }
}
