//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 rem(24);
	background-color: $color-gallery;
	@include padding(1em);

	h3 {
		margin-top: 0;
		color: map_get($primary-colors, 'purple');
	}

	p,
	a {
		color: map_get($primary-colors, 'blue');
	}

	// Make sure select elements fit in widgets
	select {
		max-width: 100%;
	}
}

// Search widget

.widget_search .search-submit {
	display: none;
}

//Footer widget
.footer-widgets {
	.widget {
		background: transparent;
		color: map_get($primary-colors, 'white');

		h3 {
			color: map_get($primary-colors, 'white');
			border-bottom: 1px solid map_get($primary-colors, 'white');
		}

		a {
			color: map_get($primary-colors, 'white');
		}
	}
}
